h2 New user
label(for="name") Name:
input(ng-model='form.name', name='name')
label(for="address") Address:
input(ng-model='form.address', name="address")
p
    button(ng-click='submitPost()') Create user
